# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment & Secrets
.env
*.pem

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
